.header {
    padding-bottom: 230px;
    background-image:-webkit-gradient(linear, left bottom, left top, from(rgba(252,227,138, .8)), to(rgba(243,129,129, .8))), url(../images/header/banner.jpg);
    background-image:-o-linear-gradient(bottom, rgba(252,227,138, .8) 0%, rgba(243,129,129, .8) 100%), url(../images/header/banner.jpg);
    background-image:linear-gradient(to top, rgba(252,227,138, .8) 0%, rgba(243,129,129, .8) 100%), url(../images/header/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
    text-align: center;
    font-size: 72px;
    font-family: $second-font;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-bottom: 30px;
}
&__subtitle {
    font-size: 150px;
    font-family: $main-font;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.933;
    width: 848px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 110px;
}
&__btn {
    cursor: pointer;
    display: block;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    width: 164px;
    height: 44px;
    background-color: transparent;
    font-size: 14px;
    font-family: $main-font;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .header {
        background-image:-webkit-gradient(linear, left bottom, left top, from(rgba(252,227,138, .8)), to(rgba(243,129,129, .8))), url(../images/header/banner@2x.jpg);
        background-image:-o-linear-gradient(bottom, rgba(252,227,138, .8) 0%, rgba(243,129,129, .8) 100%), url(../images/header/banner@2x.jpg);
        background-image:linear-gradient(to top, rgba(252,227,138, .8) 0%, rgba(243,129,129, .8) 100%), url(../images/header/banner@2x.jpg);
    }
}
.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 168px;

    &__svg {
        width: 17px;
        height: 14px;
        fill: #ffffff;
    }
    
        &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 630px;
        flex-basis: 630px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

            &-link {
    font-size: 14px;
    font-family: $main-font ;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    position: relative;

        &:hover {
            color: $second-color;
            }

        &::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 3px;
    background-color: $second-color;
    bottom: -12px;
    visibility: hidden;
}
            }
        }
    }

.navigation__list-link:hover::after {
    visibility: visible;
}


.navigation__list-link:hover .navigation__svg {
    fill: #fce38a;
}
}

.logo {
    font-size: 30px;
    font-family: $main-font;
    font-weight: bold;
    color: #ffffff;
    line-height: 1.2;
}